body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #b7c4c4;
    text-align: center !important;
}
 #title {
     padding-top: 70px;
 }

 h2 {
     padding: 8px;
 }

 p {
     margin: 10px;
 }


/*HEADER*/
header {
    background: #222222;
}

.navbar {
    
    overflow: hidden;
    border-bottom: 3px solid #9FA16A;
    box-shadow: grey;
}

.fixed-top {
    position: fixed;
    top: -30px;
    right: 0;
    left: 0;
    z-index: 1000;
}

#brand {
    padding-bottom: 5px;
    color: #9FA16A;
    position: absolute;
    font-size: 1.5em;
}


#menu {
    height: 50px;
   
}

/*presentation*/

.presentation img{
    display: flex;
    width: 100%;
    position: relative;
}

.presentation span {
    color: #9FA16A;
}

.presentation div {
    position: absolute;
    top: 20%;
    transform: translateX(50%);
    
}

.presentation h1 {
    font-weight: bold;
    font-size: 3em;
    color: white;
    width: 60%;
    line-height: 1;
    text-transform: uppercase;
}

.presentation p{
    color: white;
    margin-top: 10px;
    width: 55%;
    font-size: 1.5em;
}

.presentation input {
    margin-top: 10px;
    background-color: #9FA16A;
    padding: 10px;
    border-radius: 3px;
    border: transparent;
    box-shadow: 0px 2px 0px #9FA16A;
    color: white;
    font-size: 1em;
    width: 15%;
    display: block;
    margin-left: 210px;
    margin-top: 30px;
  }

  /*Tous les article de l'accueil*/

  .allarticle  {
    width: 60% !important;
    padding-bottom: 10px;
    padding-top: 15px;
    background-color: #f6f6f6;
    text-align: center !important;
    border-radius: 20px;
  }

  .allarticle a {
      color: #9FA16A;
      padding: 30px;
  }

  .allarticle a:hover {
    color: #9FA16A;
}

/*article Seul*/

.article a {
    color: #9FA16A;
    margin-left: 10px;
}

.article a:hover {
    color: #9FA16A;
}

.article small{
    margin-left: 10px;
    padding: 5px;
    font-size: 15.5px;
    border-left: 5px solid #a1add0;
    color: #3d3d3d;
    background-color: #ddd7ff;
}

.article h1 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 30px;
}

  /*commentaires*/

  .form-group {
      width: 60%;
      margin-bottom: 1rem;
  }

  .form-group button {
    background-color: #9FA16A;
    padding: 10px;
    border-radius: 3px;
    border: transparent;
    color: white;
    font-size: 1em;
    display: block;
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .comment {
    width: 60% !important;
    padding-bottom: 15px;
    background-color: #f6f6f6;
    text-align: center !important;
    border-radius: 20px;
  }

  .comment span {
      color: #9FA16A ;
      text-transform: capitalize;
  }

  /*admin*/
  
  
  #container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    }
    /* Bordered form */
  .form-login {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
#container h1{
    width: 55%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #9FA16A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #9FA16A;
    border: 1px solid #9FA16A;
}


/*admin update*/


/*footer*/

footer {
    background: #222222;
    border-bottom: 3px solid #222222;
}

footer span {
    color: #9FA16A;
}

footer span:hover {
    color: #9FA16A;
}