body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #b7c4c4;
    text-align: center !important;
}
 #title {
     padding-top: 70px;
 }

 h2 {
     padding: 8px;
 }

 p {
     margin: 10px;
 }

/*HEADER*/
header {
    background: #222222;
}

.navbar {
    
    overflow: hidden;
    border-bottom: 3px solid #9FA16A;
    box-shadow: grey;
}

.fixed-top {
    position: fixed;
    top: -30px;
    right: 0;
    left: 0;
    z-index: 1000;
}

#brand {
    padding-bottom: 5px;
    color: #9FA16A;
    position: absolute;
    font-size: 1.5em;
}


#menu {
    height: 50px;
}

/*presentation*/

.presentation img{
    display: flex;
    width: 100%;
}

.presentation span {
    color: #9FA16A;
}

.presentation div {
    position: absolute;
    top: 50%;
    transform: translateX(50%);
    
}

.presentation h1 {
    font-weight: bold;
    font-size: 3em;
    color: white;
    width: 60%;
    line-height: 1;
    text-transform: uppercase;
}

.presentation p{
    color: white;
    margin-top: 10px;
    width: 55%;
    font-size: 1.5em;
}

.presentation input {
    margin-top: 10px;
    background-color: #9FA16A;
    padding: 10px;
    border-radius: 3px;
    border: transparent;
    box-shadow: 0px 2px 0px #9FA16A;
    color: white;
    font-size: 1em;
    width: 15%;
    display: block;
    margin-left: 210px;
    margin-top: 30px;
  }
